.header{
  background:white; 
  border-bottom:2px inset #0a66c2;
}
img{
  width:250px;
  min-height: auto;
}
.menu{
  float:right;
  
}
ul>li{
  list-style:none;
  font-size:30px;
  display:inline;
  margin-left:40px;
  cursor:pointer;
  color:#0a66c2;
  
}
ul>li:hover{
  border-bottom:#0a66c2 5px solid;
}
ul>li:nth-child(4){
  margin-right:200px;
}
ul>li:nth-child(6){
  margin-left:10px;
}
ul>li:nth-child(5){
  padding-right:10px;
  border-right: 2px inset grey;;
}