.profile-wrapper{
  width:40%;
  margin:auto;
  background:#e7e9fe;
  border-radius:10px;
  padding:70px;
  position:relative;
  overflow:hidden;
}
.profile-wrapper>h1{
  text-align:center;
}
.profile-account-type>label{
  font-size:20px;
}
.profile-account-type input{
  font-size:20px;
  padding:5px;
}
.profile-user-form{
  border: 2px solid #0a66c2;
  padding:10px;
  display:flex;
  flex-direction:column;
  position:relative;
  border-top: 1px solid #0a66c2 ;
}

.profile-user-form input{
  margin-top:10px;
  border-radius:5px;
  height:40px;
  font-size:20px;
  padding-left:10px;
}
.profile-name-update{
  margin-top:20px;
  display:flex;
  flex-direction:row;
  justify-content:space-between;
}
.profile-name-update input{
  width:45%;
    box-sizing:border-box;
  
}
.profile-info-edit{
  margin-left:auto;
  background:white;
  border-radius:5px;
  padding:2px 5px 2px 5px;
  
}

.cancel-edit{
  color:red;
  display:flex;
  vertical-align:middle;
  align-items:center;
  padding:3px;
  display:block;
}
.cancel-edit-icon{
   margin-right:4px;
}
.email-verify{
  color:green;
  padding:5px;
}

.profile-password-update{
  display:flex;
  flex-direction:row;
  justify-content:space-between;
}
.profile-password-update input{
  width:45%;
  box-sizing:border-box;
}
.profile-update-button{
  width:35%;
  margin-left:auto;
  margin-top:5px;
  height:40px;
  background:#0a66c2;
  color:white;
  border:none;
  border-radius:10px;
  font-size:20px;
}
.profile-relatives-list{
  position:relative;
}
.profile-relatives-list ol{
    margin-block-start: 0px;
    margin-block-end: 0px;
      padding-inline-start: 0px;
}

.profile-relatives-list p{
  font-size:30px;
  font-weight:700;
}
.profile-relatives-list li{
  font-size:20px;
  margin-top:5px;
}
.profile-billing-history> h2{
   font-size:30px;
  font-weight:700;
}
.profile-billing-history>p{
  font-size:20px;
}
.profile-billing-history>p>span{
  background:#0a66c2;
  padding:5px;
  color:white;
  border-radius:10px;
}
.billing-wrapper{
  display:flex;
  background:green;
  padding-top:5px;
  padding-bottom:5px;
  flex-direction:row;
  border-radius:10px;
}
.billing-wrapper p{
margin:auto;
  color:white;
  font-size:20px;
}
.billing-icon{
  font-size:10px;
  padding-left:5px;
  padding-right:5px;
}
.profile-wrapper>span{
  position:absolute;
  top:20px;
  right:20px;
  background:red;
  width:50px;
  text-align:center;
  color:white;
  border-radius:5px;
}
.button-link{
  width:20%;
  display:block;
  margin-left:auto;
  text-decoration:none;
  
}
.logout-wrapper button{
  
  display:block;
  
  margin-top:20px;
  margin-bottom: 20px;
  padding:0px;
  color:white;
  background:#0a66c2;
  height:40px;
  font-size:20px;
  border-radius:10px;
  border:none;
  width:100%;
  cursor:pointer;
}


@media only screen and (max-width:1180px){
  .logout-wrapper>button{
  width:35%;
}
  .profile-wrapper{
  width:100%;
  padding:0px;
  
}
  .profile-wrapper>h1{
   padding-top:30px;
  }
.profile-account-type, .profile-relatives-list, .profile-billing-history, .logout-wrapper{
  width:95%;
  margin:auto;
}
.profile-relatives-list li{
    margin-left:25px;
}
.profile-name-update{
  margin-top:20px;
  display:flex;
  flex-direction:column;
  justify-content:space-between;
}
.profile-name-update input{
  width:100%;
  box-sizing:border-box;
  
}
.profile-password-update{
  display:flex;
  flex-direction:column;
  justify-content:space-between;
}
.profile-password-update input{
  width:100%;
  box-sizing:border-box;
}
.profile-update-button{
  width:50%;
  margin-top:10px;
  
}
}

