.plain-contact{
  width:60%;
  margin:auto;
}
.plain-contact>h1, .plain-contact>h2, .plain-contact>p, .plain-contact>h3{
  text-align:center;
}
.plain-contact>h1{
  font-size:35px;
}
.plain-contact>p{
  font-size:20px;
}
.plain-contact>h3{
  font-size:25px;
  font-weight:800;
}
@media only screen and (max-width:1180px){
  .plain-contact{
  width:95%;
  margin:auto;
}
}













*:focus {
    outline: none;
}
.home-contact-wrapper{
  overflow:hidden;
  background:#d4e6fe;
  width:100%;
  margin:auto;
  padding-bottom:20px;
}
.home-contact-wrapper>h1{
  color:#0a66c2;
  text-align:center;
  font-size:50px;
}
.form-wrapper{
  width:50%;
  background:#fff;
  margin:auto;
  margin-top:20px;
  padding:50px;
}
.home-contact-form{
  display:flex;
  flex-direction:column;
  grid-gap:20px;
}

.basic-info{
  display:grid;
  grid-template-columns:1fr 1fr;
  grid-gap:20px;
  
}
.basic-info>input{
  height:40px;
  width:95%;
  border-radius:10px;
  border:none;
  font-size:20px;
  color:#4f63db;
  padding-left:20px;
}
.basic-info>input::placeholder{
  color:#4f63db;
}
.basic-info>input:nth-child(1), .basic-info>input:nth-child(2){
  background-color:#e7e9fe;
}
.basic-info>input:nth-child(3), .basic-info>input:nth-child(4){
  background-color:#dce1ff;
}
.address-wrapper>input{
  width:100%;
  height:40px;
  font-size:20px;
  padding-left:20px;
  box-sizing: border-box;
  background-color:#c7cdfd;
  border:none;
  border-radius:10px;
  color:#4f63db;
}
.address-wrapper>input::placeholder{
  color:#4f63db;
}
.message-wrapper>textarea{
  width:100%;
  height:200px;
  padding-left:20px;
  box-sizing: border-box;
  background:#a5b1fd;
  font-size:20px;
  padding-top:5px;
  color:#4f63db;
}
.message-wrapper>textarea::placeholder{
  color:#4f63db;
}
.home-submit{
  width:50%;
  margin:auto;
  font-size:20px;
  height:45px;
  border-radius:10px;
  border:none;
  color:white;
  background:#0a66c2;
  cursor:pointer;
  
}
@media only screen and (max-width:1180px){
.form-wrapper{
  width:90%;
  padding:5px;
  padding-top:30px;
  padding-bottom:30px;
}
.basic-info{
 display:flex;
 flex-direction:column;
}
.basic-info>input{
  box-sizing:border-box;
  margin:auto;
  height:55px;
}
.address-wrapper>input{
  width:95%;
  display:block;
  margin:auto;
  height:55px;
}
.message-wrapper>textarea{
  width:95%;
  margin:auto;
  display:block;
}
}