.home-blog-wrapper{
  padding-top:40px;
}
.home-blog-wrapper>h1{
  color:#0a66c2;
  font-size:50px;
  text-align:center;
}
.home-blog-sections{
  display:flex;
  flex-direction:row;
  flex-wrap:wrap;
}
.home-blog{
  display:flex;
  flex-direction:row;
  width:45%;
  cursor:pointer;
 -webkit-box-shadow: 0px 5px 12px 2px rgba(0,0,0,0.58); 
box-shadow: 0px 5px 12px 2px rgba(0,0,0,0.58);
  border-radius:10px;
  margin:auto;
  margin-bottom:20px;
  
}
.home-blog>img{
  width:200px;
}
.home-blog-info{
  padding-left:10px;
}
.home-blog-info>h2{
  margin-block-start:0px;
  margin-block-end:0px;
  margin-top:5px;
  color:#0a66c2;
  text-decoration:underline;
}
.home-blog-info>p{
  font-size:20px;
  margin-block-start:0px;
  margin-block-end:0px;
  padding-top:10px;
}
.home-blog-info>button{
  float:right;
  background-color:#0a66c2;;
  color:white;
  border:none;
  font-size:20px;
  margin-right:5px;
  height:30px;
  border-radius:10px;
  
  
}

@media only screen and (max-width:1180px){
  .home-blog-sections{
  display:flex;
  flex-direction:column;
}
  .home-blog{
    width:95%;
    display:block;
  }
  .home-blog>img{
  width:150px;
  height:150px;
  float:left;
    margin-right:10px;
    margin-bottom:-5px;
}
  .home-blog-info>h2{
    font-size:22px;
  }
  .home-blog-info{
    padding-right:5px;
  }
  .home-blog-info>button{
    margin-bottom:10px
  }
}