.header{
  background:white; 
  position:sticky;
  width:100%;
  margi-right:0px;
  top:0px;
  z-index:11;
  border-bottom:1px solid black;
  
}

.logoImg{
  width:150px;
  min-height: auto;
}
.menu{
  float:right;
  
  
}
.desktop-menu-list{
  padding-inline-start: 0px;

}
.desktop-menu-list>li{
  list-style:none;
  font-size:30px;
  display:inline;
  margin-left:40px;
  cursor:pointer;
  color:#0a66c2;

  
}
.desktop-menu-list>li>a{
  text-decoration:none;
  color:#0a66c2;
}
.desktop-menu-list>li:hover{
  border-bottom:#0a66c2 5px solid;
}
.desktop-menu-list>li:nth-child(4){
  margin-right:200px;
}
.desktop-menu-list>li:nth-child(6){
  margin-left:10px;
}
.desktop-menu-list>li:nth-child(5){
  padding-right:10px;
  border-right: 2px inset grey;;
}
.menuIcon{
  font-size:20px;
}
.mobile-menu{
  display:none;
}
@media only screen and (max-width:1335px){
  .desktop-menu-list>li:nth-child(4){
  margin-right:50px;
  .desktop-menu-list{
    padding-inline-start:0px;
  }
}
@media only screen and (max-width:1180px){
 
  .desktop-menu{
    display:none;
  }
  .mobile-menu{
    display:block;
  }
  
   .humberger{
     position:absolute;
     top:15px;
     right:15px;
     z-index:1000
     
   }
  .lines{
    width:30px;
    height:5px;
    background:#0a66c2;
    margin-top:3px;
  }
  .mobile-menu-list>li{
   display:block;
    width:60%;
    margin:auto;
    
    text-align:center;
    margin-top:20px;
    margin-bottom:20px;
  }
  .mobile-menu-list>li>a{
  text-decoration:none;
  color:#0a66c2;
}
  .mobile-menu-list>li:nth-child(1){
    margin-top:45px;
  }
  .mobile-menu-list{
    
    margin-block-start:0px;
    margin-block-end:0px;
    padding-inline-start:0px;
    
    
  }
  .mobile-items{
    position:absolute;
    top:0px;
    right:0%;
    background:#282a35;
    width:60%;
    -webkit-transition: all 150ms ease-in;
    -moz-transition: all 150ms ease-in;
    -o-transition: all 150ms ease-in;
    transition: all 150ms ease-in;
    transform : translate(100%);
    z-index:11;
  }
  .display-menu{
    display:block;
    transform : translate(0);
  }
  .hide-menu{
    transform : translate(100%);
    
  }
}
  @media only screen and (max-width: 428px){
    .mobile-items{
    position:absolute;
    top:0px;
    right:0px;
    background:#282a35;
    width:80%;
  }
  }