.testimony-wrapper{
}
.testimony-heading{
 font-size:50px;
 padding-top:35px;
 text-align:center;
 color:#0a66c2;
}
.testimony{
  width:400px;
  -webkit-box-shadow: 1px 6px 9px 2px rgba(131,131,131,0.82); 
  box-shadow: 1px 6px 9px 2px rgba(131,131,131,0.82);
  padding:10px;
  margin:5px;
  flex-grow:1;
}
.testimony-boxes{
  display:flex;
  flex-direction:row;
  flex-wrap:wrap;
  
}
.testimony-profile{
  display:flex;
  flex-direction:row;
}
.testimony-img{
  width:50px;
  height:50px;
  border-radius: 0 50% 50% 50%;
  border:5px solid #0a66c2;
}
.testimony-info{
  padding-left:5px;
}
.testimony-info>h2{
  margin-block-start: 0px;
  margin-block-end: 0px;
  font-size:20px;
  color:#0a66c2;
  font-weight:1000;
}
.testimony-info>p{
  margin-block-start: 0px;
  margin-block-end: 0px;
  font-size:20px;
}
.actual-testimony>p{
  font-size:30px;
  margin-block-start: 0px;
    margin-block-end: 0px;
}
@media only screen and (max-width:1180px){
  .testimony:nth-child(4), .testimony:nth-child(5){
    display:none;
  }
}