.body{
  width:95% !important;
  margin:auto;
  margin-top:0px;
}

@media only screen and (max-width:1180px){
  .body{
    width:100%;
    overflow:hidden;
    
  }
}
*{
  font-family: 'Roboto Slab', serif;
}
