.body{
  width:95% !important;
  margin:auto;
  margin-top:0px;
}

@media only screen and (max-width:1180px){
  .body{
    width:100%;
    overflow:hidden;
    
  }
}
*{
  font-family: 'Roboto Slab', serif;
}


.footer_section-wrapper{
  
  width:100%;
  margin-top:30px;
  background:white;
  border-top:5px inset #0a66c2;
  
}
.footer-logo-wrapper>img{
  width:150px;
}
.footer-group{
  display:flex;
  flex-direction:row;
  width:80%;
  margin:auto;
  margin-top:20px;
}
.footer-section{
  width:33.33%;
  margin:atuo;
}
.footer-logo-wrapper>p{
  font-size:20px;
}
.footer-site-map>div>h3{
  font-size:30px;
  margin-block-start:0px;
  margin-block-end:0px;
  color:#0a66c2;
}
.footer-site-links{
  display:flex;
  flex-direction:row;
}
.links-column1{
  padding-right:10px;
}
.links-column2{
  padding-left:10px;
  border-left:1px solid black;
}
.footer-site-links p{
  font-size:20px;
  display:block;
}
.footer-newsletter{
  display:flex;
  flex-direction:column;
}
.footer-newsletter>input{
  height:40px;
  box-sizing:border-box;
  font-size:20px;
  padding-left:10px;
  border:3px solid #0a66c2;
  background:#e7e9fe;
  border-radius:10px;
}
.footer-newsletter>button{
  
  width:50%;
  margin:auto;
  margin-top:5px;
  font-size:20px;
  background-color:#0a66c2;
  color:white;
  border:none;
  height:40px;
  border-radius:10px;
}
.footer-social-links{
  display:flex;
  width:50%;
  margin:auto;
  margin-top:20px;
  flex-direction:row;
}
.social-links{
  margin:auto;
  font-size:40px;
}
.copyright{
  display:block;
  text-align:center;
  background:#d4e6fe;
  color:#0a66c2;
}