.body{
  width:95% !important;
  margin:auto;
  margin-top:0px;
}

@media only screen and (max-width:1180px){
  .body{
    width:100%;
    overflow:hidden;
    
  }
}
*{
  font-family: 'Roboto Slab', serif;
}


.footer_section-wrapper{
  
  width:100%;
  margin-top:30px;
  background:white;
  border-top:5px inset #0a66c2;
  
}
